%ul.list{ "data-message-id": "#{message.id}" }
  %li.list__name
    = message.user.name
  %li.list__time
    %p= message.created_at.strftime("%Y/%m/%d %H:%M")
  %li.list__message
    - if message.content.present?
      %p.list__message__content
        = message.content
    = image_tag message.image.url, class: 'list_message__image' if message.image.present?
